html {
  scroll-behavior: smooth;
}
.navbar-brand img {
  max-height: 30px;
}
.index-page .squares,
.login-page .squares,
.reset-page .squares {
  background: linear-gradient(0deg, #00bf9a, #92f9a3);
}
.icon-hover{
    filter: grayscale(80%);
    transition: 1s filter linear, 1s -webkit-filter linear;
}
.icon-hover:hover{
    filter: grayscale(0%);
}
