html {
  scroll-behavior: smooth;
}
.navbar-brand img {
  max-height: 30px;
}
.index-page .squares,
.login-page .squares,
.reset-page .squares {
  background: linear-gradient(0deg, #00bf9a, #92f9a3);
}

.icon-hover{
  width: 200px;
  margin: 10px;
}
#venture .icon-hover{
  width: 100px;
}
.section{
  padding: 20px 0;
}

.footer .copyright{
  text-align: left;
  font-size: 12px;
  line-height: 16px;
}